fastapi==0.115.0
uvicorn==0.30.6
websockets>=10.4
watchfiles>=0.13
pyyaml>=5.1
colorama>=0.4
sqlalchemy==2.0.35
pg8000==1.31.5
python-dotenv==1.0.1
pydantic[email]>=2.9,<3
bcrypt>=4.2
python-jose==3.3.0
python-multipart==0.0.9
